Language	   Russian	
NgramFile      $RML/Dicts/Trigram/full.rev/base.ngram 
DictionaryFile $RML/Dicts/Trigram/full.rev/base.lex
TagsetFile 	   $RML/Dicts/Trigram/full.tagset
--min-bucket-size 20000
--reverse-model
#--second-local-coef 12  #если хотим оставить "днем"
--second-local-coef 32
#--second-local-coef 6
#reverse-model-config $RML/Dicts/Trigram/full.config 
--supress-morph-errors